[user]
	name = Tobin Quadros # Leave user.email blank for work/home
[core]
	autocrlf = input # MacOSX, Set Windows workstations to 'true'
	excludesfile = ~/dotfiles/git/.gitignore_global
[merge]
	log = 3
[color]
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = green
	changed = red
	untracked = cyan
[mergetool]
	keepBackup = false
[alias]
	co = checkout
	br = branch -av
	bug = grep -in bug
	cm = commit -m
	dh = diff HEAD
	dhh = diff HEAD^..
	l = log --pretty=oneline --abbrev-commit --graph --decorate
	st = status --short --column
	todo = grep -in todo
	wip = grep -in wip
[receive]
	fsckObjects = true # Check consistency of objects before push
[grep]
	linenumber = true
