# System
.DS_Store

# Editors
*~
.*.sw[a-z]

# Atlas creds
var-files/atlas.json
var-files/aws.json

# Build artifacts and output
*.box
.vagrant/
docker-images/
output-virtualbox-iso/
packer_cache/
vagrant-boxes/
